ietfipspace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           targetNamespace="http://ipspace.net/ipspace"
           xmlns="http://ipspace.net/ipspace"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2015-03-31"
           xml:lang="en"
          xmlns:ietf-ipspace="http://ipspace.net/ipspace">

  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module ipspace

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      The module for entities impl the ipspace system
    </xs:documentation>
  </xs:annotation>

  <xs:element name="system">
    <xs:annotation>
      <xs:documentation>
        Container for ipspace system.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="host-name" minOccurs="0"  type="xs:string">
          <xs:annotation>
            <xs:documentation>
              Hostname for the system
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="interface" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              List of interfaces in the system
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name"  type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Name of interface.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:choice>
                <xs:annotation>
                  <xs:documentation>
                    Choice of interface type
                  </xs:documentation>
                </xs:annotation>

                <xs:sequence>
                  <xs:element name="FastEthernet" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        Fast Ethernet Interface (100M)
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType/>
                  </xs:element>
                  <xs:any minOccurs="0" maxOccurs="unbounded"
                          namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:sequence>
                  <xs:element name="GigEthernet" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        Gigabit Ethernet Interface (1000M)
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType/>
                  </xs:element>
                  <xs:any minOccurs="0" maxOccurs="unbounded"
                          namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"
                        namespace="##other" processContents="lax"/>
              </xs:choice>
              <xs:element name="description" minOccurs="0"  type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Interface description.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="mtu" minOccurs="0"  type="xs:int"/>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any minOccurs="0" maxOccurs="unbounded"
                namespace="##other" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="key_system_interface">
      <xs:selector xpath="ietf-ipspace:interface"/>
      <xs:field xpath="ietf-ipspace:name"/>
    </xs:key>
  </xs:element>

</xs:schema>
